.container-card{
    color: var(--text-color);
    background-color: var(--modal-color);
    border-radius: 15px;
    cursor: pointer;
    transition: all linear .2s;
    min-height: 397px;
}
.thumnail{
    height: 300px;
}
.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.infor-book {
    padding: 5px;
}
.name{
    color: var(--text-color);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    visibility: visible;
    overflow: hidden;
    font-size: 23px;
    text-align: center;
    text-overflow: ellipsis;
}
.author{
    margin: 0;
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    visibility: visible;
    overflow: hidden;
}
.container-card:hover {
    scale: .99;
}
.gallery{
    overflow: hidden;
}
.modal-dialog {
    max-width: 800px !important;
}
.modal-content {
    background-color: var(--modal-color) !important;
}
.thumnails {
    width: 100%;
}
.thumnails img {
    width: 100%;
    object-fit: cover;
}
.form-modal {
    padding: 20px  0;
}
.form-group label {
    margin-bottom: 4px;
    color: var(--text-color);
}
.modal-title {
    width: 100%;
    text-align: center;
    color: var(--text-color);
}
.form-group {
    margin-left: 20px;
}
.submit {
    text-align: center;
}
.btn-add {
    outline: none;
    border: none;
    background-color: var(--primary);
    color: var(--text-color);
    padding: 4px 25px;
    border-radius: 15px;
    margin-top: 15px;
}